<mat-card>

    <mat-card-title>
        {{ getHouseTitle() }}
    </mat-card-title>

    <mat-card-content>
        🏠 {{ getHouseTitle()}}, &nbsp;{{ data?.bairro?.toLowerCase() }}
        <br>
        {{ data?.descricao }}
        <br>
        <br>
        <span>
            📍 Endereço: {{ data?.endereco}}
        </span>
        <br>
        <br>
        <strong>
            💰 R$ {{ data?.preco }}
        </strong>
    </mat-card-content>

    <mat-card-actions align="end">
        <button mat-mini-fab (click)="openHouse()" color="basic">
            <mat-icon>open_in_new</mat-icon>
        </button>
        <button mat-mini-fab (click)="favorite()" [color]="isFav ? 'warn' : 'basic'" style="margin-left: 10px;">
            <mat-icon [color]="isFav ? 'baisc' : 'warn'">favorite</mat-icon>
        </button>
    </mat-card-actions>

</mat-card>