.header-container {
    position: relative;
    background-color: #fafafa;
    width: 100%;
    overflow: hidden;
    height: 400px;

    .image {
        background-image: url('/assets/imgs/house.jpg');
        position: absolute;
        width: 100%;
        height: 400px;
        background-size: cover;
        filter: blur(2px) grayscale(.4);
    }

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    mat-card {
        background-color: rgba(250, 250, 250, 0.65);
    }

    .mat-mdc-form-field-subscript-wrapper {
        display: none;
    }

    .form-field-states {
        width: 60vw;
    }

    .small-filter {
        margin: 12px;
        margin-left: 0px;
    }
}