<div class="header-container">
  <div class="image"></div>

  <mat-card class="content">

    <mat-card-header>

      <mat-card-title>
        <span style="color: coral;">H</span>ouse <span style="color: coral;">F</span>inder
      </mat-card-title>

    </mat-card-header>

    <mat-card-content>

      <mat-form-field class="form-field-states">
        <mat-label>
          Selecione seu estado:</mat-label>
        <mat-select [(ngModel)]="state" color="primary">
          <mat-option *ngFor="let state of states" [value]="state.value">{{state.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="small-filter">
        <mat-label>
          Tipo
        </mat-label>
        <mat-select [(ngModel)]="type">
          <mat-option value="all">Todos</mat-option>
          <mat-option value="Apartamento">Apartamento</mat-option>
          <mat-option value="Casa">Casa</mat-option>
          <mat-option value="Comercial">Comercial</mat-option>
          <mat-option value="Galpão">Galpão</mat-option>
          <mat-option value="Gleba">Gleba</mat-option>
          <mat-option value="Loja">Loja</mat-option>
          <mat-option value="Prédio">Prédio</mat-option>
          <mat-option value="Sala">Sala</mat-option>
          <mat-option value="Sobrado">Sobrado</mat-option>
          <mat-option value="Terreno">Terreno</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="small-filter">
        <mat-label>
          Cidade
        </mat-label>
        <mat-select [(ngModel)]="city">
          <mat-option value="all">Todas</mat-option>
          <mat-option *ngFor="let city of cities" [value]="city">{{city}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="small-filter">
        <mat-label>
          Preço até:
        </mat-label>
        <mat-select [(ngModel)]="maxPrice">
          <mat-option value="0">Todos</mat-option>
          <mat-option *ngFor="let price of prices" [value]="price">{{ (price) | currency : 'BRL'}}</mat-option>
        </mat-select>
      </mat-form-field>


    </mat-card-content>

  </mat-card>
</div>

<app-list [state]="state" [type]="type" [city]="city" [maxPrice]="maxPrice"></app-list>